<table class='table'>
  <tr><%= image_tag customer.get_profile_image(100, 100), class: "rounded-circle profile-image d-block mx-auto mb-3" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= link_to "#{customer.name}", customer_path(customer.id) %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to customer.followings.count, followings_path(customer) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to customer.followers.count, followers_path(customer) %></th>
  </tr>
</table>

<div class='row'>
  
  <!--ゲストユーザーはプロフィール編集画面を表示しないようにする-->
  <% if customer.email != "guest@example.com" %>
  <% end %>
  <!--ログインしているユーザーが現在表示されているユーザーと等しくない場合-->
  <% if current_customer != customer %>
    <%= render "public/relationships/btn", customer: customer %>
  <% else %>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block edit_customer_#{customer.id}" do %>
      <i class="fas fa-user-cog"></i> Profile
    <% end %>
    <%= link_to new_post_path, class: "btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid fa-file-pen"></i> New Post 
    <% end %>
    <!--アコーディオン-->
    <div class="my-2">
      <div class="accordion" id="accordionExample" style="text-align: center;">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h3 class="mb-0" style="text-align: center;">
            My Page
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              #1
            </button>
          </h3>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h3 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Collapsible Group Item #2
            </button>
          </h3>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
      
    <% if current_customer != customer %>
      <% else %>
        <% unless customer.guest_customer? %>
          <%= link_to chat_groups_path, class: "btn btn-outline-secondary btn-block" do %>
            <i class="fa-solid fa-comments"></i> Chat
        　<% end %>
        <% end %>
    <% end %>
    <!--ログインユーザーとチャットするユーザーが、相互フォロー関係にあること-->
    <% if current_customer != customer && current_customer.following?(customer) && customer.following?(current_customer) %>
      <%= link_to 'Chat', chat_path(customer.id), class: "btn btn-outline-secondary btn-block" %>
  <% end %>
  <% end %>
</div>