<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5">
      
    <h2>マイページ</h2><table class='table'>
        <div style="display: flex; justify-content: center;">
            <div>
                <%= image_tag @customer.get_profile_image(100, 100), class: "rounded-circle" %>
            </div>
        </div>
        <tr>
      	  <th>name</th>
      	  <th><%= @customer.name %></th>
        </tr>
        <tr>
      	  <th>introduction</th>
      	  <th><%= @customer.introduction %></th>
        </tr>
        <tr>
          <% if current_customer != @customer %>
            <th><%= render "public/relationships/btn", customer: @customer %></th>
          <% end %>
        </tr>
      </table>
      
      <div class='mt-5'>
        
        ※リンク先変更が必要(自分のみの投稿、いいね)
        <%= link_to "投稿一覧", public_customer_path(@customer), class: "btn btn-outline-secondary btn-block" %>
      　<%= link_to "いいね一覧", new_public_post_path(@customer), class: "btn btn-outline-secondary btn-block" %>
      </div> 
  </div>
</div>
