<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5">

    <h2>マイページ</h2><table class='table'>
        <div style="display: flex; justify-content: center;">
            <div>
              <%= image_tag @customer.get_profile_image(100, 100), class: "rounded-circle profile-image d-block mx-auto mb-3" %>
            </div>
        </div>
        <tr>
      	  <th>name</th>
      	  <th><%= @customer.name %></th>
        </tr>
        <tr>
      	  <th>introduction</th>
      	  <th><%= @customer.introduction %></th>
        </tr>
      </table>

      <div style='display: flex; justify-content: center; mt-3'>
        <% if current_customer != @customer %>
          <th><%= render "public/relationships/btn", customer: @customer %></th>
        <% end %>
      </div>

      <div class='mt-5'>
        <% if current_customer != @customer %>
          <% else %>
        <%= link_to edit_customer_path(@customer), class: "btn btn-outline-secondary btn-block edit_customer_#{@customer.id}" do %>
        Edit
        <%= link_to "投稿一覧", posts_path(filter: @customer.id), class: "btn btn-outline-secondary btn-block" %>
      　<%= link_to "いいね一覧", new_post_path(@customer), class: "btn btn-outline-secondary btn-block" %>
      　<%= link_to "退会する", public_customers_unsubscribe_path, class: "btn btn-danger" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
