<table>
  <tbody>
    コメント数: <%= travel_task.travel_task_comments.count %>
      <% travel_task.travel_task_comments.each do |comment| %>
      <tr>

        <td>
          <%= link_to admin_customer_path(comment.customer) do %>
            <%= image_tag comment.customer.get_profile_image(50, 50), class: "rounded-circle" %><br>
            <%= comment.customer.name %>
          <% end %>
        </td>
        <td><%= comment.content %></td>
        <td>
            <%= link_to "管理者削除", admin_post_travel_task_comment_path(travel_task.post.id, comment, travel_task_id: travel_task.id), method: :delete, class: "btn btn-danger pull-right btn-sm ml-2", remote: true %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>