<table>
  <tbody>
    コメント数: <%= post.comments.count %>
      <% post.comments.each do |comment| %>
      <tr>

        <td>
          <%= link_to customer_path(comment.customer) do %>
            <%= image_tag comment.customer.get_profile_image(50, 50), class: "rounded-circle" %><br>
            <%= comment.customer.name %>
          <% end %>
        </td>
        <td><%= comment.content %></td>
        <td>
            <%= link_to "管理者削除", admin_post_comment_path(post, comment), method: :delete, class: "btn btn-danger pull-right btn-sm ml-2", remote: true %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>