<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5">

      <div class="nested-fields">
        <div class="form-group">
          <div class="custom-file">
            <%= f.file_field :task_image, class: 'custom-file-input', onchange: 'fileOnChange(this)' %>
            <%= f.label :task_image, 'Picture', class: 'custom-file-label' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :title, 'Title' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :contents, 'Shiory' %>
          <%= f.text_area :contents, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= link_to '#', class: 'js-log-remove-btn' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  // fileOnChange関数を定義。引数としてelement(ファイルアップロードフィールド（<input type="file">）のDOM要素)受取
  function fileOnChange(element) {
      // $(element)を使用しファイルアップロードフィールドの値を取得。
      // .val()メソッドは、ファイルパスを取得。
  　　　　　　// 取得したファイルパスをバックスラッシュ（\）で分割し、配列するとファイル名だけを取得。
      var fileName = $(element).val().split('\\');
      // $(element)を使用しファイルアップロードフィールドの次の要素を取得。
      // .next('.custom-file-label')は、指定されたクラスを持つ次の要素を取得。
      // .html()メソッドを使用し、取得したラベル要素のHTML内容を変更。
      // fileName.pop()は、ファイルパスから取得したファイル名を取り出しラベルにファイル名が表示される。
      $(element).next('.custom-file-label').html(fileName.pop());
  };
</script>