<div class="container">
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <%= f.fields_for :travel_tasks do |task| %>
      <%= render 'traveltask_fields', f: task %>
    <% end %>
    <%= link_to_add_association '投稿を追加', f, :travel_tasks, class: "btn btn-outline-secondary" %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>