<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
    <div class='col-md-3'>
        <%= render 'public/customers/info', customer: @customer %>
        <div class="mt-4" style="text-align: center;">
          <div><strong>この投稿にいいねする</strong></div>
          <div id="favorite-<%= @post.id %>">
            <%= render "public/favorites/btn", post: @post %>
          </div>
        </div>
    </div>

    <div class='col-md-8 offset-md-1'>
       <div class="text-center">
          <% if @post.customer == current_customer %>
              <div class="mx-2 d-inline-flex mb-3">
                <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %>
              </div>
              <div class="mx-2 d-inline-flex mb-3">
                <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
              </div>
          <% end %>
        <div class="mb-3">
           <div style="position:relative;border:1px solid #efc4c0;border-radius:4px;padding:1.5em 1em;">
           <div style="position:absolute;top: -12px;left: 10px;padding: 5px 25px;background-color:#d7e6d5;border-radius:4px;color:#6d7d90;line-height: 1em;">
              <%= @post.title %>
           </div>
           <div class="mb-2">
              <!--simple_format＝与えられた文字列を段落ごとに分割し<p> タグで囲んで返す。-->
              <!--sanitize オプションをtrueに設定すると、文字列をそのまま表示。-->
              <%= simple_format(@post.contents, sanitize: true, class: 'm-0') %>
            </div>
              <% if @post.post_image.present? %>
                <div class="mb-3">
                  <%= image_tag @post.post_image, class: 'img-fluid' %>
                  <!--AI画像認識-->
                  <!--<div class="tag-box">-->
                  <!--  <#% @post.tags.each do |tag| %>-->
                  <!--    <span class="label"><%#= tag.name %></span>-->
                  <!--  <#% end %>-->
                  <!--  </div>-->
                  <div class ="time">投稿日時：<%= l @post.created_at %></div>
                </div>
              <% else %>
                <div class="mb-3">
                  <%= image_tag 'no_image.jpg', class: 'img-fluid' %>
                </div>
              <% end %>
            <div id="comments-index"  class="comments-index mt-2">
              <%= render "public/comments/index", post: @post %>
            </div>
            <div class="errors" id="post_errors_<%= @post.id %>"></div>
            <%= render "public/comments/form", post: @post, comment: @comment %>
           </div>
           </div>

          <% @post.travel_tasks.each do |travel_task| %>
            <div class="mb-3">
              <div style="position:relative;border:1px solid #efc4c0;border-radius:4px;padding:1.5em 1em;">
                <div style="position:absolute;top: -12px;left: 10px;padding: 5px 25px;background-color:#d7e6d5;border-radius:4px;color:#6d7d90;line-height: 1em;">
                  <%= travel_task.title %>
                </div>
                <div class="m-0 p-0">
                  <%= simple_format(travel_task.contents, sanitize: true, class: 'm-0') %>
                  <%= image_tag travel_task.task_image, class: 'img-fluid' if travel_task.task_image.present? %>
                  <%= image_tag 'no_image.jpg', class: 'img-fluid' unless travel_task.task_image.present? %>
                  <div class="tag-box">
                  <% @post.tags.each do |tag| %>
                    <span class="label"><%= tag.name %></span>
                  <% end %>
                  </div>
                </div>
                  <div class="errors" id="travel_task_errors_<%= travel_task.id %>"></div>
                <!--該当の投稿にコメントできるように、travel_taskにidを割り当てる-->
                <div id="travel-task-comments-index-<%= travel_task.id %>" class="comments-index mt-2">
                  <%= render "public/travel_task_comments/index", travel_task: travel_task %>
                </div>
                  <%= render "public/travel_task_comments/form", travel_task: travel_task, comment: @travel_task_comment %>
              </div>
            </div>
          <% end %>
     </div>
    </div>
  </div>
</div>
