
<!--<div class="row no-gutters my-5">-->
<!--  <div class="col-md-4 order-0 order-md-0">-->
<!--    <div class="container text-center">-->

<!--      <p class="top__2 align-self-center">-->
<!--      <span class="blurTrigger">-->
<!--        #あなたの旅を<br>-->
<!--        より特別なものにする-->
<!--        </span>-->
<!--      </p>-->
<!--      <p class="top align-self-center my-4">-->
<!--        <span class="blurTrigger">-->
<!--          <%#= image_tag("_title.jpg", alt: "shiory", size: "200x100") %>-->
<!--        </span>-->
<!--      </p>-->

<!--      <h3 class="marker-border-2 mt-5">Shiory  とは</h3>-->
<!--        <p class="mt-4 align-self-center">-->
<!--           名前の由来は「旅のしおり」と「セオリー」を掛け合わせたものです。</p>-->

<!--        <p>どちらも旅程やテーマをまとめて整理したり、<br>-->
<!--           振り返って次に活かすための改善点を見つけたりと<br>-->
<!--           似ている側面があります。</p>-->

<!--        <p>旅行が好きで、いろんな場所を巡りたいと考えている人</p>-->

<!--        <p>観光名所よりも、その土地をより体感できる旅行を楽しみたい人</p>-->

<!--        <p>旅行に行けない場合でも、旅行気分を味わいたい人</p>-->

<!--        <p>行ってほしい！と感じたお気に入りの場所を紹介したり、<br>-->
<!--           行ってみたい！とワクワクするような場所を見つけてみて下さい。</p>-->

<!--        </p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-md-8 order-0 order-md-1">-->
<!--    <%#= image_tag 'kamome.jpg', class: 'img-fluid about-img__cover' %>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="row no-gutters my-5">-->
<!-- <div class="col-md-4 order-0 order-md-0">-->


<!--    <div class="col-md-8 order-0 order-md-1">-->
    　　<%#= image_tag 'kamome.jpg', class: 'img-fluid about-img__cover' %>
<!--    </div>-->

<!-- </div>-->
<!--</div>-->

  <!--<div id="home" class="a">-->
  <!--  <header class="header">-->
  <!--    <div t-logo>-->
  <!--    <h1><a href="#"><img class="logo" src="img/logo.png" alt="会社ロゴ"></a></h1>-->
  <!--    </div>-->
  <!--    <nav>-->
  <!--      <ul class="b">-->
  <!--        <li><a href="#">menu1</a></li>-->
  <!--        <li><a href="#">menu2</a></li>-->
  <!--        <li><a href="#">menu3</a></li>-->
  <!--        <li><a href="#">menu4</a></li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </header>-->
  <!--  <div class="e">-->
  <!--    <div class="c">-->
  <!--      <h2 class="d">HelloWorld</h2>-->
  <!--      <p>HTMLレイアウト</p>-->
  <!--      <a class="button" href="#">詳しく見る</a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->


<!--<div class="relative">-->
<!--  <%#= image_tag("kamome.jpg", alt: "shiory", class: "my-image") %>-->
<!--  <%#= image_tag('title_white.png',  class: "my-image_2") %>-->
<!--</div>-->

<div class="container">
<div class="row no-gutters my-5">
  <div class="grid">
    <div class="item">
      <%= image_tag('no_image.jpg') %>
      <p>テキストテキスト</p>
    </div>
    <div class="item_1">
      <%= image_tag('no_image.jpg') %>
      <p>テキストテキスト</p>
    </div>
    <div class="item">
      <%= image_tag('no_image.jpg') %>
      <p>テキストテキスト</p>
    </div>
    <div class="item">
      <%= image_tag('no_image.jpg') %>
      <p>テキストテキスト</p>
    </div>
    <div class="item">
      <%= image_tag('no_image.jpg') %>
      <p>テキストテキスト</p>
    </div>
    <div class="item">
      <%= image_tag('no_image.jpg') %>
      <p>テキストテキスト</p>
    </div>
  
  </div>
</div>
</div>
