<!--<div class="cozyspace-wrapper">-->
<!--    <div class="container">-->
<!--      <div class="cozyspace-img">-->
<!--        <%= image_tag('about_2.jpg', class: 'image') %>-->
<!--      </div>-->
<!--      <div class="cozyspace-message">-->
<!--        <h2>居心地の良い空間</h2>-->
<!--        <h3>cozy space</h3>-->
<!--        <p>ここに文章が入ります。</p>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="cozyspace-wrapper">-->
<!--    <div class="container">-->
<!--　　　　<div class="cozyspace-message">-->
<!--        <h2>居心地の良い空間</h2>-->
<!--        <h3>cozy space</h3>-->
<!--        <p>ここに文章が入ります。</p>-->
<!--      </div>-->
<!--      <div class="cozyspace-img">-->
<!--        <%= image_tag('about_2.jpg', class: 'image') %>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="cozyspace-wrapper">-->
<!--    <div class="container">-->
<!--      <div class="cozyspace-img">-->
<!--        <%= image_tag('about_2.jpg', class: 'image') %>-->
<!--      </div>-->
<!--      <div class="cozyspace-message">-->
<!--        <h2>居心地の良い空間</h2>-->
<!--        <h3>cozy space</h3>-->
<!--        <p>ここに文章が入ります。</p>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<div class="row no-gutters mt-5">
<div class="col-md-4 order-0 order-md-0">
<div class="container">
<h2>タイトル</h2>
<h3>タイトル２</h3>
<p>本文</p>
</div>
</div>
<div class="col-md-8 order-1 order-md-1">
<%= image_tag 'sea.jpg', class: 'img-fluid about-img__cover' %>
</div>
</div>

<div class="row no-gutters">
<div class="col-md-4 order-0 order-md-1">
<div class="container">
<h2>タイトル</h2>
<h3>タイトル２</h3>
<p>本文</p>
</div>
</div>
<div class="col-md-8 order-1 order-md-0">
<%= image_tag 'sea.jpg', class: 'img-fluid about-img__cover' %>
</div>
</div>