
<div class="container">
    <div class="swiper">
        <div class="swiper-wrapper">
            <% Post.all.sample(5).each do |post| %>
                <div class="swiper-slide position-relative d-flex">
                    <div class="position-absolute swiper__title w-100 py-4 align-self-center text-center"><%= post.title %></div>
                    <div class="position-absolute w-100">
                        <!--投稿に添付された画像を表示-->
                        <%= image_tag post.post_image, class: 'swiper__img' if post.post_image.present? %>
                        <!--投稿画像を持っていない場合は代替の画像を表示-->
                        <%= image_tag 'no_image.jpg', class: 'swiper__img' unless post.post_image.present? %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="container">
    <div class="inner">

      <div class="box">
        <div class="box__body">
          <h2 class="box__ttl" style="text-align: center; color: #b3a9c8;">Shioryとは？</h2>
          <p class="box__txt">
           名前の由来は「旅のしおり」と「セオリー」を掛け合わせたものです。<br>
           どちらも旅程やテーマをまとめて整理したり、振り返って次に活かすための改善点を見つけたりと似ている側面があります。
          </P>
          <p class="box__txt">
           いろんな場所を巡りたいと考えている人も、外出しないで旅行気分を味わいたい人にも。<br>
           行ってほしい！と感じたお気に入りの場所を紹介したり、<br>
           行ってみたい！とワクワクするような場所を見つけてみて下さい。
          </P>
            <section class="section">
              <!--モーダル-->
              <button type="button" class="modal-btn" data-toggle="modal" data-target="#calendar-description">
                About Calendar
              </button>
              <!-- モーダル内 -->
              <div class="modal fade" id="calendar-description" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                これは、サンプルテストです。
                            </div>
                            <div class="col-md-6">
                                <%= image_tag 'about_1.jpg', class: 'img-fluid' %>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
          <%= image_tag 'about_1.jpg', class: 'box__image' %>
      </div>

      <div class="box reverse">
        <div class="box__body">
          <div class="d-flex flex-column align-items-center">
            <h2 class="box__ttl" style="text-align: center; color: #b3a9c8;">投稿方法について</h2>
            <p class="box__txt">
              ①投稿一覧ページに表示されます。
              　写真をアップロードしない場合は、NO IMAGEの代替写真が挿入されます。
            </p>
            <p class="box__txt">
              ②カレンダーに登録する日を選択します。
              　未選択の場合、投稿できますがカレンダーには登録されません。
            </p>
            <p class="box__txt">
              ③①と同様に入力できます。
            </p>
          </div>
          <section class="section">
              <!--モーダル-->
              <button type="button" class="modal-btn" data-toggle="modal" data-target="#calendar-description_2">
                投稿フォームについて
              </button>
              <!-- モーダル内 -->
              <div class="modal fade" id="calendar-description_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">投稿フォームについて</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                           <div>
                                <%= image_tag 'post_explanation.png', class: 'img-fluid', style: 'max-width: 60%; display: block; margin: 0 auto;' %>
                            </div>
                            <div>
                               <p class="box__txt">
                                 ①ここで入力した内容が、投稿一覧ページに表示されます。<br>
                                　写真をアップロードしない場合は、NO IMAGEの代替写真が挿入されます。
                               </p>
                               <p class="box__txt">
                                 ②カレンダーに登録する日を選択します。<br>
                                 　未選択の場合、投稿はできますがカレンダーには登録されません。<br>
                                 　投稿編集で、登録日の削除や変更ができます。
                               </p>
                               <p class="box__txt">
                                 ③①と同様に入力します。
                               </p>
                               <p class="box__txt">
                                 ④③の入力フォームを消去することができます。
                               </p>
                               <p class="box__txt">
                                 ⑤「しおりを追加」で、③の入力フォームを追加できます。<br>
                                　 ⑥の公開範囲を選択した後、「投稿」ボタンを押下して投稿や下書き保存されます。
                               </p>
                               <p class="box__txt">
                                 ⑥公開範囲を選択します。<br>
                                 　投稿した後に下書きに戻したり、下書きから投稿に切り替えることもできます。
                               </p>
                               <p class="box__txt  text-center">
                                <%= link_to new_post_path, class: "btn btn-outline-secondary" do %>
                                  <i class="fa-solid fa-file-pen"></i> 投稿する
                                <% end %>
                               </p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

        </div>
          <%= image_tag 'about_1.jpg', class: 'box__image' %>
      </div>

      <div class="box">
        <div class="box__body">
          <h2 class="box__ttl" style="text-align: center;  color: #b3a9c8;">カレンダー機能について</h2>
          <p class="box__txt">
            カレンダー機能を使って、「行った日」「行きたい日」を記録することができます。<br>
            カレンダーは全体公開されないので、気になる投稿を見つけたら予定を立てたり、好きな時に旅の思い出を振り返ってみましょう!
          </p>
          <p class="box__txt">
            また、投稿作成時に公開範囲を「下書き」に指定すると、<br>
            投稿されずカレンダー内で自分だけが確認できるスケジュール帳として使用することもできます。
          </p>
            <section class="section">
              <!--モーダル-->
              <button type="button" class="modal-btn" data-toggle="modal" data-target="#calendar-description_3">
                カレンダーの使い方について
              </button>
              <!-- モーダル内 -->
              <div class="modal fade" id="calendar-description_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                これは、サンプルテストです。
                            </div>
                            <div class="col-md-6">
                                <%= image_tag 'about_1.jpg', class: 'img-fluid' %>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
          <%= image_tag 'about_1.jpg', class: 'box__image' %>
      </div>
    </div>
</div>

<script>
// Swiperを実行(初期化)
$(document).ready(function(){
    let swiper = new Swiper('.swiper', {
      loop: true,
      autoplay: {
        delay: 5000,
      },
    });
});
</script>
