
<div class="container">
    <div class="swiper">
        <div class="swiper-wrapper">
            <% Post.all.sample(5).each do |post| %>
                <div class="swiper-slide position-relative d-flex">
                    <div class="position-absolute swiper__title w-100 py-4 align-self-center text-center"><%= post.title %></div>
                    <div class="position-absolute w-100">
                        <!--投稿に添付された画像を表示-->
                        <%= image_tag post.post_image, class: 'swiper__img' if post.post_image.present? %>
                        <!--投稿画像を持っていない場合は代替の画像を表示-->
                        <%= image_tag 'no_image.jpg', class: 'swiper__img' unless post.post_image.present? %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="container">
    <div class="inner">

      <div class="box">
        <div class="box__body py-4">
          <h2 class="box__ttl" style="text-align: center; color: #b3a9c8;">Shioryとは？</h2>
          <p class="box__txt">
           名前の由来は「旅のしおり」と「セオリー」を掛け合わせたものです。<br>
           どちらも旅程やテーマをまとめて整理したり、振り返って次に活かすための改善点を見つけたりと似ている側面があります。
          </P>
          <p class="box__txt">
           いろんな場所を巡りたいと考えている人も、外出しないで旅行気分を味わいたい人にも。<br>
           行ってほしい！と感じたお気に入りの場所を紹介したり、<br>
           行ってみたい！とワクワクするような場所を見つけてみて下さい。
          </P>
            <section class="section">
                <%= link_to "投稿一覧へ", posts_path, class: "modal-btn" %>
            </section>
        </div>
          <%= image_tag 'about_1.jpg', class: 'box__image' %>
      </div>

      <div class="box reverse">
        <div class="box__body py-3">
          <div class="d-flex flex-column align-items-center">
            <h2 class="box__ttl" style="text-align: center; color: #b3a9c8;">Shioryの楽しみ方</h2>
            <p class="box__txt">
             投稿をしなくても、気に入った投稿にいいねをつけたり、
             コメントをして交流を楽しむことができます。
            </p>
            <p class="box__txt">
             コメントは誰にでもできますが、<br>
             チャット機能はお互いがフォローしていないとやり取りができないため、ご注意ください。<br>
             <div style="text-align: center; color: #dbac9e;">
              <i class="fa-solid fa-triangle-exclamation"></i>不適切な投稿やコメント、チャットでのメッセージは削除されますので、思いやりを忘れないようにしましょう!
             </div>
            </p>
            <p class="box__txt">
             写真を撮り忘れてしまったけど魅力を伝えたい、1箇所だけど紹介したいお店がある…そんなときも大歓迎です！<br>
             まずは気軽に投稿してみてください。
            </p>
          </div>
          <section class="section">
              <!--モーダル-->
              <button type="button" class="modal-btn" data-toggle="modal" data-target="#calendar-description_2">
                投稿フォームについて
              </button>
              <!-- モーダル内 -->
              <div class="modal fade" id="calendar-description_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">投稿フォームについて</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                           <div>
                                <%= image_tag 'post_explanation.png', class: 'img-fluid', style: 'max-width: 60%; display: block; margin: 0 auto;' %>
                            </div>
                            <div>
                               <p class="box__txt">
                                 ①ここで入力した内容が、投稿一覧ページに表示されます。<br>
                                　写真をアップロードしない場合は、NO IMAGEの代替写真が挿入されます。
                               </p>
                               <p class="box__txt">
                                 ②<i class="fa-regular fa-calendar"></i>マークをタップして、カレンダーに登録する日を選択します。<br>
                                 　未選択の場合、投稿はできますがカレンダーには登録されません。<br>
                                 　投稿編集で、登録日の削除や変更ができます。
                               </p>
                               <p class="box__txt">
                                 ③①と同様に入力します。
                               </p>
                               <p class="box__txt">
                                 ④③の入力フォームを消去することができます。
                               </p>
                               <p class="box__txt">
                                 ⑤「しおりを追加」で、③の入力フォームを追加できます。<br>
                                　 ⑥の公開範囲を選択した後、「投稿」ボタンを押下して投稿や下書き保存されます。
                               </p>
                               <p class="box__txt">
                                 ⑥公開範囲を選択します。<br>
                                 　投稿した後に下書きに戻したり、下書きから投稿に切り替えることもできます。
                               </p>
                               <p class="box__txt  text-center">
                                <%= link_to new_post_path, class: "btn btn-outline-secondary" do %>
                                  <i class="fa-solid fa-file-pen"></i> 投稿する
                                <% end %>
                               </p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
          <%= image_tag 'about_2.jpg', class: 'box__image' %>
      </div>

      <div class="box">
        <div class="box__body  py-4">
          <h2 class="box__ttl" style="text-align: center;  color: #b3a9c8;">カレンダー機能について</h2>
          <p class="box__txt">
            カレンダー機能を使って、「行った日」や「行きたい日」を記録することができます。<br>
            カレンダーは全体公開されないので、気になる投稿を見つけたら参考にして予定を立てたり、<br>
            好きな時に投稿した旅の思い出を振り返ってみましょう!
          </p>
          <p class="box__txt">
            また、投稿作成時に公開範囲を「下書き」に指定すると、<br>
            投稿されずにカレンダー内で自分だけが確認できるスケジュール帳として使用することができます。<br>
            投稿の編集ページでは、日にちの修正や、下書きから投稿への変更も可能です。
          </p>
            <section class="section">
              <!--モーダル-->
              <button type="button" class="modal-btn" data-toggle="modal" data-target="#calendar-description_3">
                さらに詳しく
              </button>
              <!-- モーダル内 -->
              <div class="modal fade" id="calendar-description_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">カレンダーについて</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <p class="box__txt" style="text-align: center;">
                              カレンダー入力後のイメージ     
                            </p>
                            <div>
                              <%= image_tag 'calender.png', class: 'img-fluid', style: 'max-width: 100%; display: block; margin: 0 auto;' %>
                            </div>
                            <p class="box__txt">
                              「My Page」→「カレンダー」からカレンダーの内容を確認できます。<br>
                              各日付に記載されているメインタイトルをクリックすると、投稿内容の詳細を確認することができます。
                            </p>
                            <p class="box__txt">
                              日付は投稿入力時に日付を入力すると反映されます。<br>
                              投稿の編集ページから日付の修正をしたり、日付のみ削除することでカレンダー上からは削除されますが、投稿は削除されません。
                            </p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
          <%= image_tag 'about_3.jpg', class: 'box__image' %>
      </div>
    </div>
</div>

<script>
// Swiperを実行(初期化)
$(document).ready(function(){
    let swiper = new Swiper('.swiper', {
      loop: true,
      autoplay: {
        delay: 5000,
      },
    });
});
</script>
