<table class='table'>
  <tr><%= image_tag customer.get_profile_image(100, 100), class: "rounded-circle profile-image d-block mx-auto mb-3" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to customer.followings.count, followings_path(customer) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to customer.followers.count, followers_path(customer) %></th>
  </tr>
</table>

<div class='row'>
    <%= link_to edit_admin_customer_path(customer), class: "btn btn-outline-secondary btn-block edit_customer_#{customer.id}" do %>
    投稿者の情報編集
    <% end %>
</div>