<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5">
      <h2>マイページ</h2>
      <table class='table'>
        <div style="display: flex; justify-content: center;">
          <%= image_tag @customer.get_profile_image(100, 100), class: "rounded-circle profile-image d-block mx-auto mb-3" %>
        </div>
        <tr>
          <th>name</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @customer.introduction %></td>
        </tr>
      </table>

      <div class='mt-5'>
        <%= link_to edit_customer_path(@customer), class: "btn btn-outline-secondary btn-block edit_customer_#{@customer.id}" do %>
          Edit
        <% end %>
        <%= link_to "投稿一覧", posts_path(filter: @customer.id), class: "btn btn-outline-secondary btn-block" %>
      </div>
    </div>
  </div>
</div>
