<div class="chat-messages">
  <% chats.each do |chat| %>
    <% if chat.customer_id == current_customer.id %>
      <div class="message self">
        <div class="message-sender text-right">
          <%= chat.customer.name %>
        </div>
        <div class="message-body">
          <%= chat.message %>
        </div>
        <div class="message-body_2">
          <%= link_to "削除", chat_path(chats), method: :delete, class: "btn btn-danger pull-right btn-sm ml-2", remote: true %>
        </div>
      </div>
    <% else %>
      <div class="message other">
        <div class="message-sender">
          <%= chat.customer.name %>
        </div>
        <div class="message-body">
          <%= chat.message %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>