<div class="chat-container">
  <center>
   <h2><%= @target_customer.name %> さんとのチャット</h2>
  </center>
  <div id="chats-show"  class="chats-show message">
     <%= render "public/chats/messages", chats: @chats %>
  </div>

  <div class="chat-form">
    <div class="errors"></div>
    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力してください", autocomplete: "off" %>
      <%= f.hidden_field :chat_room_id, value: @room.id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>