<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>customer info</h2>
        <%= render 'ad/customers/info', customer: @customer %>
    </div>

    <div class='col-md-8 offset-md-1'>
       <div class="text-center">
        <div class="mb-3">
           <div style="position:relative;border:1px solid #efc4c0;border-radius:4px;padding:1.5em 1em;">
           <div style="position:absolute;top: -12px;left: 10px;padding: 5px 25px;background-color:#d7e6d5;border-radius:4px;color:#fff;line-height: 1em;">
              <%= @post.title %>
           </div>
           <div class="mb-2">
              <!--simple_format＝与えられた文字列を段落ごとに分割し<p> タグで囲んで返す。-->
              <!--sanitize オプションをtrueに設定すると、文字列をそのまま表示。-->
              <%= simple_format(@post.contents, sanitize: true, class: 'm-0') %>
            </div>
              <% if @post.post_image.present? %>
            <div class="mb-3">
              <%= image_tag @post.post_image, class: 'img-fluid' %>
            </div>
              <% end %>
           </div>
           </div>

          <% @post.travel_tasks.each do |travel_task| %>
            <div class="mb-5">
              <div style="position:relative;border:1px solid #efc4c0;border-radius:4px;padding:1.5em 1em;">
                <div style="position:absolute;top: -12px;left: 10px;padding: 5px 25px;background-color:#d7e6d5;border-radius:4px;color:#fff;line-height: 1em;">
                  <%= travel_task.title %>
                </div>
                <div class="m-0 p-0">
                  <%= simple_format(travel_task.contents, sanitize: true, class: 'm-0') %>
                  <%= image_tag travel_task.task_image, class: 'img-fluid' if travel_task.task_image.present? %>
                </div>
              </div>
            </div>
          <% end %>
            <div class="mt-3">
              <%= link_to 'Edit', admin_edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %>
              <%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %>
            </div>
     </div>
    </div>
  </div>
</div>
