<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
    <% if customer_signed_in? %>
      <div class='col-md-3'>
          <%= render 'public/customers/info', customer: current_customer %>
      </div>
    <% end %>
  
    <div class='col-md-8 offset-md-1'>
      <% if @model == 'Customer' %>
        <h3>検索結果  "<%= @contents %>"</h3>
        <% if @records.present? %>
          <table class='table'>
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @records.each do |customer| %>
                <tr>
                  <td><%= image_tag customer.get_profile_image(100, 100), class: "rounded-circle profile-image__index" %></td>
                  <td><%= customer.name %></td>
                    <% if customer_signed_in? %>
                      <td>
                       <%= render "public/relationships/btn", customer: customer %>
                      </td>
                      <td><%= link_to 'My Page', customer_path(customer), class: "btn_mypage small" %></td>
                    <% end %>
                    <% if admin_signed_in? %>
                      <td><%= link_to 'Show', admin_customer_path(customer) %></td>
                    <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <!-- レコードが見つからない場合の処理 -->
          <p>No customers found.</p>
        <% end %>
      <% elsif @model == 'Post' %>
        <h3>検索結果 　"<%= @contents %>"</h3>
        <% if @records.present? %>
          <div class="row">
            <% @records.each do |post| %>
              <div class="col-md-6 mb-5">
                <div class="card">
                  <!--投稿に添付された画像を表示-->
                  <%= image_tag post.post_image, class: 'post-image__index' if post.post_image.present? %>
                  <!--投稿画像を持っていない場合は代替の画像を表示-->
                  <%= image_tag 'no_image.jpg', class: 'post-image__index' unless post.post_image.present? %>
                  <div class="card-body">
                    <% if customer_signed_in? %>
                      <h5><%= link_to post.title, post_path(post) %></h5>
                    <% else %>
                      <h5><%= link_to post.title, admin_post_path(post) %></h5>
                    <% end %>
                    <% if post.customer %>
                      <h5>
                        <%= image_tag post.customer.get_profile_image(50, 50), class: "rounded-circle profile-image__index" %>
                        <%= post.customer.name %>
                      </h5>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <!-- レコードが見つからない場合の処理 -->
          <p>No posts found.</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

