<% if @model == 'Customer' %>
  <h3>Customers search for "<%= @contents %>"</h3>
  <% if @records.present? %>
    <% @records.each do |customer| %>
      <!-- カスタマーの表示 -->
       <tr>
        <td><%= image_tag customer.get_profile_image(100, 100), class: "rounded-circle profile-image__index"  %></td>
        <td><%= customer.name %></td>
        <td><%= render "public/relationships/btn", customer: customer %></td>
        <td><%= link_to 'Show', customer_path(customer) %></td>
      </tr>
    <% end %>
  <% else %>
    <!-- レコードが見つからない場合の処理 -->
    <p>No customers found.</p>
  <% end %>
<% elsif @model == 'Post' %>
  <h3>Posts search for "<%= @contents %>"</h3>
  <% if @records.present? %>
    <% @records.each do |post| %>
      <!-- ポストの表示 -->
      <%= post.title %>
    <% end %>
  <% else %>
    <!-- レコードが見つからない場合の処理 -->
    <p>No posts found.</p>
  <% end %>
<% end %>