<div class="container">
  <div class="row">
    <div class="mx-auto">

        <h2 class="mt-5">ログイン</h2>
  
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field mt-4">
              <%= f.label :ユーザーネーム %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "shiory" %>
            </div>
            
            <div class="field mt-3">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "shiory@△△.com" %>
            </div>
          
            <div class="field mt-3">
              <%= f.label :パスワード %><br />
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "6文字以上" %>
            </div>
          
            <div class="actions mt-2">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>
          
          <h3 class="mt-5 mb-2">会員登録がお済みでない方</h3>
           <%= link_to "こちら", new_user_registration_path %>から新規登録を行ってください。
    </div>
  </div>
</div>
