<!DOCTYPE html>
<html>
  <head>
    <title>Shiory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/97dbd80b90.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--ページ全体が縦方向に伸び、スクロールバーが表示されないようになり、コンテンツが画面いっぱいに表示されるようになる-->
  <body class="d-flex flex-column min-vh-100">
     <%= render 'layouts/header' %>
    <% if notice %>
      <div class="alert alert-warning" role="alert">
        <div class="container">
          <%= notice %>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <div class="container">
          <%= alert %>
        </div>
      </div>
    <% end %>

    <div class="bg_pattern Polka"></div>

    <!--ページのメインコンテンツが残りのスペースを最大限に利用して表示-->
    <!--(<main> 要素は残りのスペースを埋めるため、その高さが自動的に調整される)-->
    <main class="flex-grow-1">
    <%= yield %>
    </main>
    <p id="page-top"><a href="#">Page Top</a></p> 
     <%= render 'layouts/footer' %>
    <script>
      // <!-- #page-topをクリックした際の設定-->
      $('#page-top').click(function () {
          $('body,html').animate({
              // <!--ページトップまでスクロール-->
              scrollTop: 0
          // <!--ページトップスクロールの速さ。数字が大きいほど遅くなる    -->
          }, 500);
          // <!--リンク自体の無効化-->
          return false;
      });
    </script>
  </body>
</html>
